<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel='stylesheet' type='text/css' media='screen' href='details.css'>
</head>
<body>
    <h2>Checkout Form</h2>
    <div class="row">
        <div class="col-75">
            <div class="container">
                <form action="checkout">

                 <div class="row">
                     <div class="col-50">
                         <h3>Address</h3>
                <label for="fname"><i class=""></i>Full Name</label>
                <input type="text" id="fname" name="Firstname" placeholder="Enter First name">

                <label for="email"><i class="fa fa-envelope"></i>Email</label>
                <input type="text" id="email" name="email" placeholder="Enter Email">

                <label for="adr"><i class="fa fa-address-book"></i>Address</label>
                <input type="text" id="adr" name="address" placeholder="Enter Address">

                <label for="city"><i class=""></i>City</label>
                <input type="text" id="city" name="city" placeholder="Enter city">

    <div class="row">
        <div class="col-50">
            <label for="state">State</label>
            <input type="text" id="state" name="state" placeholder="State">
        </div>

        <div class="col-50">
            <label for="state">Zip</label>
            <input type="text" id="zip" name="zip" placeholder="zip No.">
        </div> 
    </div>
 </div>
    <input type="submit" value="Submit" class="btn">
                 </div>
                 </form>
            </div>
        </div>
    </div>
</body>
</html>